{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
  {{ fontawesome_html() }}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/updatedmovieapp.css') }}">
{% endblock %}

{% block content %}
  <div id="page-background">
    <div id="header">
      <div id="logo-container">
        <span id="logo">LOGO</span>
      </div>
      <div id="login-elements">
        <div id="login-status-container">
          <span id="login-text" class="d-none">LOGGED IN AS:</span><span id="login-user" class="d-none"></span>
        </div>
        <div id="logout-container">
          <button id="logout-button" class="btn btn-primary d-none">LOGOUT</button>
        </div>
      </div>
    </div>
    <div id="movie-background">
	  <div id="movie-notice" class="notice">
	    <div class="alert alert-info initial-alert" role="alert">Welcome! Please select a movie <span class="fas fa-angle-double-right"></span></div>
	  </div>
      <div id="movie-container">
        <div id="movie-image-container">
          <img id="movie-image" class="d-none">
        </div>
        <div id="movie-info-container">
          <span id="movie-title"></span>
          <span id="movie-description"></span>
        </div>
      </div>
      <div id="change-movie-container">
        <div id="change-movie-form">
          <span class="form-text">CHANGE MOVIE</span>
          {{  wtf.quick_form(movie, id="change-movie-form-contents")  }}
        </div>
      </div>
    </div>
    <div id="main-background">
      <div id="main-column-left">
	  <div id="login-notice" class="notice">
	    <div class="alert alert-info initial-alert" role="alert">Welcome! Please login <span class="fas fa-angle-double-right"></span></div>
	  </div>
        <div id="main-content">
          <div id="questions-block">
            <div class="questions-container">
            </div>
            <div class="more-questions-container">
              <button class="more-questions-button btn btn-primary more-button d-none">More Questions</button>
            </div>
            <div class="add-question-container">
              <button id="add-question-button" class="add-question-button btn btn-primary more-button d-none">Add Question</button>
            </div>
          </div>
        </div>
      </div>
      <div id="main-column-right">
        <div id="login-form">
          <span class="form-text">LOGIN</span>
          {{  wtf.quick_form(login, id="login-form-contents")  }}
        </div>
        <div id="signup-form">
          <span class="form-text">SIGNUP</span>
          {{  wtf.quick_form(signup, id="signup-form-contents")  }}
        </div>
      </div>
    </div>
  </div>
  <div id="hidden-items">
  <div id="placeholder"></div>
    <div id="add-question-form" class="d-none">
      {{  wtf.quick_form(question, id="question-form-contents")  }}
    </div>
    <div id="add-answer-form" class="d-none">
      {{  wtf.quick_form(answer, id="answer-form-contents")  }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
  <script type=text/javascript src="{{ url_for('static', filename='register.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='login.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='logout.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='movie.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='add_question_button.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='add_question.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='add_answer.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='upvote_question.js') }}"></script>
{% endblock %}