{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/updatedmovieapp.css') }}">
{% endblock %}

{% block content %}
  <div id="page-background">
    <div id="header">
      <div id="logo-container">
        <span id="logo">LOGO</span>
      </div>
      <div id="login-elements">
        <div id="login-status-container">
          <span id="login-text">LOGGED IN AS:</span><span id="login-user">USERNAME</span>
        </div>
        <div id="logout-container">
          <a id="logout-button">LOGOUT</a>
        </div>
      </div>
    </div>
    <div id="movie-background">
      <div id="movie-container">
        <div id="movie-image-container">
          <img id="movie-image">
        </div>
        <div id="movie-info-container">
          <span id="movie-title">TITLE</span>
          <span id="movie-badge">BADGE</span>
        </div>
      </div>
      <div id="change-movie-container">
        <div id="change-movie-form">
          <span class="form-text">CHANGE MOVIE</span>
          {{  wtf.quick_form(movie, id="change-movie-form-contents")  }}
        </div>
      </div>
    </div>
    <div id="main-background">
      <div id="main-column-left">
        <div id="main-content">
          <div id="questions-block">
            <div class="questions-container">
              <div class="question-specific-container">
                <div class="question-content-container">
                  <span class="question-points">QUESTION POINTS</span>
                  <span class="question-voting">QUESTION VOTING</span>
                  <span class="question-content">QUESTION CONTENT</span>
                </div>
                <div class="answers-container">
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                </div>
                <div class="more-answers-container">
                  <span class="more-answers-button">MORE ANSWERS</span>
                </div>
                <div class="add-answer-container">
                  <span class="add-answer-text">ADD ANSWER</span>
                  <span class="add-answer-input">ANSWER TEXT</span>
                  <span class="add-answer-submit">SUBMIT</span>
                </div>
              </div>
              <div class="question-specific-container">
                <div class="question-content-container">
                  <span class="question-points">QUESTION POINTS</span>
                  <span class="question-voting">QUESTION VOTING</span>
                  <span class="question-content">QUESTION CONTENT</span>
                </div>
                <div class="answers-container">
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                </div>
                <div class="more-answers-container">
                  <span class="more-answers-button">MORE ANSWERS</span>
                </div>
                <div class="add-answer-container">
                  <span class="add-answer-text">ADD ANSWER</span>
                  <span class="add-answer-input">ANSWER TEXT</span>
                  <span class="add-answer-submit">SUBMIT</span>
                </div>
              </div>
              <div class="question-specific-container">
                <div class="question-content-container">
                  <span class="question-points">QUESTION POINTS</span>
                  <span class="question-voting">QUESTION VOTING</span>
                  <span class="question-content">QUESTION CONTENT</span>
                </div>
                <div class="answers-container">
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                </div>
                <div class="more-answers-container">
                  <span class="more-answers-button">MORE ANSWERS</span>
                </div>
                <div class="add-answer-container">
                  <span class="add-answer-text">ADD ANSWER</span>
                  <span class="add-answer-input">ANSWER TEXT</span>
                  <span class="add-answer-submit">SUBMIT</span>
                </div>
              </div>
              <div class="question-specific-container">
                <div class="question-content-container">
                  <span class="question-points">QUESTION POINTS</span>
                  <span class="question-voting">QUESTION VOTING</span>
                  <span class="question-content">QUESTION CONTENT</span>
                </div>
                <div class="answers-container">
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                </div>
                <div class="more-answers-container">
                  <span class="more-answers-button">MORE ANSWERS</span>
                </div>
                <div class="add-answer-container">
                  <span class="add-answer-text">ADD ANSWER</span>
                  <span class="add-answer-input">ANSWER TEXT</span>
                  <span class="add-answer-submit">SUBMIT</span>
                </div>
              </div>
              <div class="question-specific-container">
                <div class="question-content-container">
                  <span class="question-points">QUESTION POINTS</span>
                  <span class="question-voting">QUESTION VOTING</span>
                  <span class="question-content">QUESTION CONTENT</span>
                </div>
                <div class="answers-container">
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                  <div class="answer-specific-container">
                    <div class="answer-content-container">
                      <span class="answer-points">ANSWER POINTS</span>
                      <span class="answer-voting">ANSWER VOTING</span>
                      <span class="answer-content">ANSWER CONTENT</span>
                    </div>
                  </div>
                </div>
                <div class="more-answers-container">
                  <span class="more-answers-button">MORE ANSWERS</span>
                </div>
                <div class="add-answer-container">
                  <span class="add-answer-text">ADD ANSWER</span>
                  <span class="add-answer-input">ANSWER TEXT</span>
                  <span class="add-answer-submit">SUBMIT</span>
                </div>
              </div>
            </div>
            <div class="more-questions-container">
              <span class="more-questions-button">MORE QUESTIONS</span>
            </div>
            <div class="add-question-container">
              <span class="add-question-text">ADD QUESTION</span>
              <span class="add-question-input">QUESTION TEXT</span>
              <span class="add-question-submit">SUBMIT</span>
            </div>
          </div>
        </div>
      </div>
      <div id="main-column-right">
        <div id="login-form">
          <span class="form-text">LOGIN</span>
          {{  wtf.quick_form(login, id="login-form-contents")  }}
        </div>
        <div id="signup-form">
          <span class="form-text">SIGNUP</span>
          {{  wtf.quick_form(signup, id="signup-form-contents")  }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
  <script type=text/javascript src="{{ url_for('static', filename='add_user.js') }}"></script>
{% endblock %}